<header id="content-header">
  <h1>Reviews for <%= link_to @movie.title, @movie %></h1>
</header>


<ol id="reviews">
  <% @reviews.each do |review| %>
  <li>
    <%@user = User.find(review.user_id)%>
    User: <%= @user.first_name%>
  </li>
  <li>
    Comment: <%=review.comment%>
  </li>
  <li>
    Stars: <%=review.stars%>
  </li>
  <%end%>

  <%= link_to "Write a Review", new_movie_review_path(@movie), class: 'button ok review'%>
</ol>
